@page {
  margin: 1.5cm;
  background: white;

}
body {
	border-collapse: collapse;
	background: white;
	color:white;
	border-color: white;
	/*border-style: solid;*/
	/*border-width: 2cm 3cm;*/
	bottom: 0;
	font-size: 18pt;
	/*margin: 0 -3cm;*/
	width: auto;
	font-family: "Karla",Tahoma,sans-serif !important;
	/*font-family: sans-serif;*/
}
p {
	font-family: "Karla",Tahoma,sans-serif;
	/*font-family: sans-serif;*/
}
.new-chapter {
	padding-top: 2cm;
	font-family: Georgia, serif;
}

h2 {
	font-size: 36pt;
}

a {
	color: aqua;
}